body {
      font-family: Arial, sans-serif;
      margin: 30px;
      background: #f4f4f9;
    }
    h1 {
      text-align: center;
      color: #333;
    }
    .converter {
      background: white;
      padding: 20px;
      border-radius: 10px;
      max-width: 400px;
      margin: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    label, select, input, button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      font-size: 16px;
    }
    #result {
      margin-top: 15px;
      padding: 10px;
      background: #acfcac;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
    }
    #history {
      margin-top: 20px;
      padding: 10px;
      background: #fff8e0bf;
      border-radius: 5px;
    }
    .modal {
        display: none; 
        position: fixed;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.5);
        overflow-y: scroll;
    }
    .modal-content {
        background: white;
        margin: 10% auto;
        padding: 20px;
        border-radius: 10px;    
        width: 400px;
    }
    .close {
        float: right;
        font-size: 24px;
        cursor: pointer;
    }
    #showModal{
        width: 20%;
        background-color: aqua;
    }
